@use 'utilities' as utilidades;

h1 {
  @extend  %titulo;
  font-size: utilidades.calc-rem(32px);
}

h2, h3, h4, h5, h6{
  @extend %titulo;
}

.normal{
  color: gray;
  font-size: 1.5rem;
}

p{
  @extend .normal;
}